@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  body {
    text-align: center;
    }
  h1 {
    font-size:26px;
    letter-spacing:-2px !important;
    }
  
  .footer {
    display:none !important;
  }  
  .phone-footer {
    display:block !important;
    font-size: 11px;
  	font-family:"Montserrat", arial, sans-serif !important;
  	text-transform: uppercase;
  -webkit-font-smoothing: antialiased; 
  } 
  .container {
    margin:0px !important;
    padding:0px 25px;
    }
  .gallery_preview {
    background-color:#0d1f3a;
  }
  .blist > .left_r p {
    width:100%;
  }
  .blist_container {
    border:none;
    margin-bottom:40px;
    }
  .left_r {
    text-align:left;
    padding-left:20px;
    }
}



@media screen and (max-width : 480px) {
  .menu-home-left-container li, .menu-home-right-container li {
  	width: 100%;  
  }
  
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 16px;
  }
  
  #gform_3 ul li {
  	width: 100%;
    margin-left: 0px !important;
  }
}

@media screen and (min-width : 480px) and (max-width : 767px) {
  .menu-home-left-container li, .menu-home-right-container li {
  	width: 50%;
    float:left;
  }
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 16px;
  }
}

@media screen and (min-width : 767px) and (max-width : 991px) {
  #primary-navbar .navbar-collapse {
  	/* padding-left: 22%; */
  }
}

@media screen (max-width : 767px) {
  .gallery_preview .gallery_preview_content {
  	padding: 10px;
  }

}

@media (max-width: 767px) {
  #form-booking h4 {
    text-align: center;
  }

  #form-booking .gform_wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width:500px;
  }

  #form-booking .gform_wrapper .gfield {
    display: block;
    margin: 0 !important;
    width: 100%;
  }

  #form-booking .gform_wrapper .datepicker {
    width: 90% !important;
  }
}

@media screen and (max-width: 991px) {
  .footer {
  	display: none;  
  }
  
  .phone-footer {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .footer {
  	display: block;  
  }
  
  .phone-footer {
    display: none;
  }
}