/*
	Theme Name: Eichardt
	Description: This is the default theme for Eichardt.
	Author: Social Garden
	Author URI: http://socialgarden.com.au/
	Version: 0.1
 
	Tags: black, orange, white, one-column, two-columns, three-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
 
	Template: genesis
	Template Version: 2.0.1
 
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


body {
    color: #4e4c4c; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    line-height: 19px;
}


.booking-form{ margin-top: 28px; }

h1,h2,h3,h4,h5,h6 {
    /*
    font-family: 'PT Sans', serif;
    */
  	letter-spacing:0px !important;
  	text-transform: uppercase;
  	color:#0e172d;
  	-webkit-font-smoothing: antialiased;
  line-height:1.4em;
}
h1 {font-size:32px;}
h2 {font-size:26px;}
h4 {font-size:18px; }
h5 {line-height:1.7em;}
 /* Overrides */

#gallery > div > div > div:nth-child(2) > div > div > div > div.col-xs-5.col-sm-6.col-lg-6 > div > p {
  	color:#bbb !important;
 }
#gallery > div > div > div:nth-child(2) > div > div > div > div.col-xs-5.col-sm-6.col-lg-6 > div > h4 {
  	-webkit-font-smoothing: antialiased;
  }
.btn-default {
  	font-size:11px;
		font-family:"Montserrat", arial, sans-serif !important;
  line-height:1.8;
  -webkit-font-smoothing: antialiased; 
}
.btn-default a:hover{
  background-color:#0d1f3a !important;
  color:f9f4b4; !important;
  }
.btn_view_more {
		font-size:11px;
		font-family:"Montserrat", arial, sans-serif !important;
  	-webkit-font-smoothing: antialiased; 
  	color:#0e172d;
  	text-transform: uppercase;
  	letter-spacing:0px;
}
.btn a:hover {
  background-color:#0d1f3a !important;
  color:f9f4b4; !important;
  }
.btn_view_more a:hover {
   background-color:#0d1f3a !important;
  color:f9f4b4; !important;
  }
.btn-sm {
  line-height:1.8;  
}
.btn-sm a:hover {
  background-color:#0d1f3a !important;
  color:f9f4b4; !important;
}
.hotel-gallery img {
  margin-bottom:25px;
  background-color:#0d1f3 !important;
  width:100%;
  height:auto;
  }
.hotel-gallery img:hover {
  opacity:0.5;
  }
.information-copy {
  margin:40px 0 !important;
}
strong {

		font-family:"Montserrat", arial, sans-serif !important;
  	color:#0e172d;
  	text-transform: uppercase;
  	letter-spacing:0px;
  	font-weight: normal;
}
body > div.accomodation > div > div > div:nth-child(1) > h4 {
  font-size:20px;
  }
body > div.accomodation > div > div > div:nth-child(1) {
/*  margin-top:22px !important; */
}
.clear {
  clear:both;
}
#gallery > div > div > div:nth-child(2) > div > div > div > div.col-xs-5.col-sm-6.col-lg-6 > div > a {
  -webkit-font-smoothing: antialiased; 
}
#primary-navbar {
   font-size:11px;
		font-family:"Montserrat", arial, sans-serif !important;
  	color:#0e172d;
  	text-transform: uppercase;
  	letter-spacing:0px;
  	font-weight: normal;
  }
#primary-navbar {
  color:#0e172d;
  }

.blist > .left_r p {
  font-size:11px;
  }


.gform_wrapper h3.gform_title {
	margin: 3px 0 0px 0 !important;
}

.contact_us_form {
border: #ccc 1px solid !important;
background: #ffffff;
}

.contact_us_form .gform_heading {
  border-bottom: #ccc 1px solid !important;
  }
.press_list_container {
  margin-bottom:50px;
  margin-top: 30px;
  height: 260px;
  }
.slider-heading {
  font-size:45px;
  line-height:1.3em;
  font-color:#fff!important;
  text-align:center;
  }
.textwidget {
  font-family: 'Open Sans', sans-serif;
  text-transform:initial;
  font-size:12px;
  }


.footer a {
  color:#777;
}
#gform_submit_button_2 {
  background-color:#fff;
  border:1px solid #ccc;
  border-radius:3px;
  margin:10px;
  text-transform:uppercase;
  font-size:11px;
	font-family:"Montserrat", arial, sans-serif !important;
  color:#0e172d;
}
#gform_submit_button_2 a:hover {
	  background-color:#0b162c !important;
  	color:#f9f899 !important;
}
#fancybox-content {
  border: 0px solid #222 !important;
  }
#fancybox-overlay {
  background-color:#222!important;
  opacity:0.9;
  }
input {
  border:1px solid #ccc !important;
  }

.alignnone.size-full.wp-image-364 {
  width:100%;
  height:auto;
}
.alignnone.size-full.wp-image-365 {
  width:100%;
  height:auto;
}
.ui-datepicker-trigger {
margin-bottom: 5px;
}

/* End Overrides */

.icon {
    display: inline-block;
    line-height: 1;
    margin-left: 5px;
    position: relative;
}

.icon.icon-chevron-right {
    background: url("images/icon-chevron-right.png") no-repeat;
    height: 15px;
    width: 15px;
    top: 2px;
}

ul.list {
    list-style: none;
    padding: 0;
}

ul.list li {
    text-transform: uppercase;
}

ul.list.chevron li {
    background: url("images/icon-chevron-right.png") no-repeat;
    margin-bottom: 5px;
    padding-left: 30px;
}

#header .header-wrap {
    padding-top: 20px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 129px;
    position: relative;
    z-index: 9999;
}

#primary-navbar.navbar {
    margin-top: -63px;
}

#header .logo {
    padding-left : 31px;
}

#header .menu ul {
    font-weight : bold;
    list-style: none outside none;
    display : table-row;
}

#news_page_container {
    margin-bottom: 50px;
}

#press_page_container {
    margin-bottom: 30px;
}

#press_page_container ul.press_list li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    float: left;
    margin-right: 50px;
}

#news_page_container ul.news_list li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    float: left;
    width: 50%;
    margin-bottom: 20px;
}
#press_page_container .press_list_container a {
    text-decoration: none;
}

#press_page_container ul.press_list .caption h4 {
    margin-bottom: 0;
    color: #000000;
}

#press_page_container ul.press_list span.press_date {
    font-size: 9px;
    color: #999999;
}

#header .menu ul li
{
    display: table-cell;
    list-style-type: none;
    height : 21px;
    vertical-align: middle;
    width : auto;
}

#header .menu_left li {
    padding-left: 21px;
}

#header .menu ul li a
{
    color : #333333;
    /* font-family: 'PT Sans', serif; */
    font-size : 11px;
    text-decoration : none;
}

#header .menu ul li a:hover
{
    color : #4e4c4c;
    border-bottom: 3px solid #666666;
}

#header .menu ul li a.active
{
    color : #4e4c4c;
    border-bottom: 3px solid #4e4c4c;
}

#banner_slider .col-xs-12,#banner_slider .col-sm-12,#banner_slider .col-lg-12 {
    padding-left : 0px !important;
    padding-right : 0px !important;
}

#banner_slider img {
    display: block;
    width: auto;
    margin: auto;
}

#book_a_room {
    position : relative;
    height : 36px;
    left : 92px;
    top : 480px;
    margin: 0 auto;
}

.nopadding_left {
   margin-left:0 !important
}

.accomodation {
  	padding: 10px 0 20px 0px;
}

.gallery_view {
    padding-top : 40px;
  	padding-bottom: 45px;
}

.gallery_preview {
    position: relative;
}

.gallery_preview .gallery_preview_inner {
    background-color : #0d1f3a;
    position: relative;
    width: 100%;
}

.gallery_preview .gallery_preview_content {
    padding: 40px 0px 40px 30px;
}

.gallery_preview .gallery_preview_content h6 {
    font-weight : bold;
    color : #f5f6f6;
}

.gallery_preview .gallery_preview_content p {
    max-height : 126px;
    overflow : hidden;
    font-size : 11px;
    color : #bbb;
}

.gallery_preview .img-responsive {
    width: 100%;
}

#gallery .gallery_view_more {
    padding: 9px 0;
}

.gallery_image_container {
    margin-top : 0px;
}

.gallery_image_container img {
    margin-bottom : 10px;
}

.accomodation, .press_releases {
    background-color: #f2f2f2;
}

.press_releases {
    padding-top : 40px;
    padding-bottom : 30px;
}

.press_releases h5 {
    text-transform: uppercase;
}

.blog_list {
    margin-top : 5px;
}

.blist_container {
    border-left: 1px solid #D0D2D7;
    margin-bottom : 25px;
}

.blist_container:first-child {
    border-left: none;
}

.blog_list_date_day {
    background : url(images/calendar_circle.png) no-repeat left top;
    width : 39px;
    height : 39px;
    margin: 0 auto;/* margin-left : 10px; */
}

.blog_list_date_day_caption {
    position : absolute;
    width : 30px;
    height : 14px;
    margin-left : 5px;
    margin-top : 10px;
}

.blog_list_date_day_caption span {
    font-weight : bold;
    font-size : 15px;
  	color:#0e172d;
}

.blog_list_info_year {
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top : 10px;
  	color:#0e172d;
}

.blog_list_info_year span {
    font-size : 10px;
    color : #babdc3;
}

.blist {
    width : 100%;
}

.blist > .left_p {
    float : left;
    width : 20%;
    padding-top : 10px;
}

.blist > .left_r {
    float : right;
    width : 80%;
}

.blist > .left_r p {
    margin: 0 0 20px;
    width : 80%;
    height : 73;
    text-align: left;
}

.footer{
  	display:block;
    font-size: 11px;
  	font-family:"Montserrat", arial, sans-serif !important;
  	text-transform: uppercase;
  -webkit-font-smoothing: antialiased; 
  	height:232px;
}

.footer h6 {
    text-transform: uppercase;
}

.phone-footer {
  padding : 50px 25px 60px 25px;
  display:none;
  background-color : #0d1f3a;
  text-align:center;
 }

.contact_info {
    color : #bbb;
  	line-height:16px;
}
.contact_info a {
  color:#fff;
  }
.contact_info h6 {
    color : #fff;
  -webkit-font-smoothing: antialiased; 
}

.contact_container {
	padding-left: 0px;  
  padding-top: 50px; 
}

#sitemap_info h6 {
    /* padding-left: 40px; */
  	padding-left: 10px;
}

#sitemap_info ul {
    list-style: none outside none;
    margin: 0 0 0;
  	padding-left: 10px;
}

#sitemap_info ul li {
  	/*
    float: left;
  	width: 50%;
  	*/
}

#sitemap_info, .sign_up_info {
    padding-top : 50px;
  	padding-left:50px;
    width:90%
}

 a{ color: #0d1f3a;}

.sitemap_list {
    width : 100%;
    float : left;
}

.sign_up_info .signup_info_btn {
    padding-top : 5px;
}

.sign_up_info .copyright {
    margin-top : 30px;
}

#page-title {
    background: #F2F2F2;
    padding: 40px 0;
}

#page-title h1,
#page-title h5 {
    text-align: center;
}

#page-title h1 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

#page-title h5 {
  	margin: 20px auto 0px auto;
		max-width: 800px;
		text-transform: none;
		text-align: center;
}

#content {
    padding: 50px 0;
}

#content .container > header {
    margin: 0 0 20px;
}

.page #content {
    padding: 50px 0 0;
}

.post-time .yy,
.post-time .mm,
.post-time .dd {
    text-align: center;
}

.post-time .yy,
.post-time .mm  {
    font-size: 11px;
    font-weight: bolder;
}

.post-time .yy {
    color: #BABDC3;
}

.post-time .mm {
    text-transform: uppercase;
}

.post-time .dd {
    border: 1px solid #D0D2D7;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    height: 39px;
    line-height: 39px;
    margin: 0 auto 10px auto;
    width: 39px;
}

/* Single blog post */
.post-header {
    margin-bottom: 20px;
}

.post-header .post-title {
    font-weight: bold;
    margin: 0;
}

.post-header .post-author {
    font-size: 0.9em;
    text-transform: uppercase;
}

.entry {
    margin-bottom: 50px;
}

.page .entry {
    margin-bottom: 0;
}

.entry .entry-image,
.entry .entry-title,
.entry .entry-content p {
    margin: 0 0 20px;
}

.entry .entry-title {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.entry .entry-content {
   
  min-height: 80px;
}

.entry .entry-carousel {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.entry .subheading {
   	margin: 40px 0 0px 0;
    text-align: center;
    text-transform: uppercase;
}

.entry .staff .info {
    margin: 15px 0;
}

.entry .staff .info h5 {
    font-weight: bold;
    margin: 0;
}

.widgets {
    background: #F2F2F2;
}

.widgets span.price {
  font-size: 14px;
  font-weight: 600;
  color: #999999;
}

.widgets-bottom {
    padding: 40px 0 0;
}

.widgets .column {
    margin: 0 0 50px;
}

.widgets header {
    margin: 0 0 10px;
}

.widgets header h4 {
    margin: 0;
  	height: 27px;
}

.widgets .column footer {
    margin: 20px 0 0;
}

.widgets header.narrow,
.widgets .column.narrow {
    padding-left: 30px;
    padding-right: 30px;
}

.widgets header.centered,
.widgets .column.centered {
    text-align: center;
}

.post-pagination .label {
    color: #000;
    margin: 25px 20px;
    padding: 0;
    font-size: 1em;
    text-transform: uppercase;
}

/* Sidebar widgets */
.widget .widget-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget ul {
    padding: 0;
    margin-bottom: 40px;
}

.widget ul li {
    border-bottom: 1px solid #333333;
    list-style-position: inside;
    padding: 10px 0;
}

.widget ul li a {
    color: #333333;
    margin-left: 10px;
}

ul.post-navigation {
    margin: 0;
    padding: 20px 0;
}

ul.post-navigation li {
    list-style-type: none;
}

ul.post-navigation li.prev {
    background: url("images/icon-chevron-left.png") no-repeat;
    padding: 0 0 0 25px;
}

ul.post-navigation li.next {
    background: url("images/icon-chevron-right.png") no-repeat top right;
    padding: 0 25px 0 0;
}

ul.post-navigation li.separator {
    margin-left: 15px;
    margin-right: 15px;
}

ul.post-navigation li a {
    color: #333333;
    text-transform: uppercase;
}

.container-fluid.nopadding {
   padding-left: 0;
   padding-right: 0;
}

#news_page_container .entry {
    margin-bottom: 50px;
}

.sign-up-footer_wrapper .top_label .gfield_label {
    display: none !important;
}
.sign-up-footer_wrapper .top_label input.gform_fields {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sign-up-footer_wrapper .gform_body {
    width: 230px;
    float:left;
}

.sign-up-footer_wrapper .gform_footer {
    float:left;
    clear: none !important;
    margin: 0 !important;
    padding: 0 !important;
}













.nav-primary.menu {
    float: left;
    margin: 0;
}
.menu-home-left-container {
    float: left;
    margin: 0;
    display: block;
    padding-left: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu-home-right-container {
    float: right!important;
}
@media (max-width: 990px) {
  .menu-home-right-container {
  	float: left!important;
  }
}

.menu-home-left-container li, .menu-home-right-container li {
    list-style: none;
    float: left;
    position: relative;
    display: block;
}

#primary-navbar-collapse .menu li a {
    color: #4e4c4c;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    background: none;
}

#primary-navbar-collapse ul li a
{
    text-transform: uppercase;
    background: none;
}

#primary-navbar-collapse li.current-menu-item a span
{
    border-bottom: 2px solid #333333;
}

.contact_us_content {
}

.contact_us_content .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* Contact Us Form */
.contact_us_form {
    width : 100%;
    border: #333 1px solid;
    margin: 0;
    background : #ffffff;
}

.contact_us_form .gform_heading {
    width: 100% !important;
    margin: 0 !important;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: #333 1px solid;
}

.contact_us_form .gform_body {
    padding: 15px;
}

.contact_us_form .gform_body .gfield_label {
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.contact_us_form .gform_footer {
    padding: 15px !important;
    margin: 0 !important;
}

.contact_us_form .gform_button {
    padding: 8px 30px;
    border: #0b162c;
    background: #0b162c;
    color: #f9f899;
    text-transform: uppercase;
    font-size: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#gform_3 .gform_button {
  font-family: "Montserrat",arial,sans-serif !important;
  font-size: 11px;
  padding: 8px 30px;
    border: #0b162c;
    background: #0b162c;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  border-radius: 3px;
}
#gallery > div.row {
  margin-right: 0px;
}
.row.npad {
	margin-right: 0;
}
/* Contact Us Form */

/* Reservation Form */

#DOPBookingSystemPRO_Form1 {
	padding: 10px;
}

.DOPBookingSystemPROContainer {
	margin: 5px 0;
}

#DOPBookingSystemPRO1 .booking_title {
  width: 100% !important;
  margin: 0 !important;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  border-bottom: #ccc 1px solid;
  text-align: left;
}

#DOPBookingSystemPRO1 .booking_title h3 {
	width: 98%;
  letter-spacing: normal !important;
	margin: 0;
  font-size: 1.3em;
}

.DOPBookingSystemPRO_Container {
	display: none;  
}

.DOPBookingSystemPRO_Sidebar .section {
  padding: 0px !important;
	background: #ffffff !important;
  border: 1px solid #cccccc !important;
}

#DOPBookingSystemPRO_ContactForm1 div.individual-field {
	width: 50%;
	float: left;	
}

.DOPBookingSystemPRO_Sidebar .section-item label {
  text-transform: uppercase;
  color: #000000 !important;
  font-size: 11px !important;
}

#DOPBookingSystemPRO_ContactForm1 div.section-item label, #DOPBookingSystemPRO_ContactForm1 div.section-item.title {
	text-align: left; 
}

@media all and (max-width: 699px) {
  #DOPBookingSystemPRO_ContactForm1 div.individual-field {
    width: 100%;
  }
}

#DOPBookingSystemPRO_Submit1 {
  padding: 8px 30px;
  border: #0b162c;
  background: #0b162c;
  color: #f4c765 !important;
  text-transform: uppercase;
  font-size: 10px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: inherit !important;
}

#DOPBookingSystemPRO_PaymentArrival1 {
	margin-top: 30px !important;  
}

#DOPBookingSystemPRO_PaymentArrival1 label {
	margin-top: 0px;  
}
/* Reservation Form */





