/*
 * ==================================================
 * Bootstrap overrides
 * ==================================================
 */

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.btn.btn-transparent {
    background-color: transparent;
}

.btn.btn-inverse {
    color: #fff;
}

#primary-navbar {
    font-size: 12px;
    font-weight: bold;
}

#primary-navbar.navbar {
    border-top: 1px solid #d0d2d7;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 0;
}

#primary-navbar.navbar-default {
    background: none;
}

#primary-navbar.navbar-default .navbar-nav > li > a {
    color: #4e4c4c;
}

#primary-navbar.navbar-default .nav > li > a:hover span {
    border-bottom: 2px solid #333333;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 30px;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #000;
}

.pagination > li > a,
.pagination > li > span {
    margin: 0 0 0 10px;
    padding: 2px 7px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #fff;
}

@media (min-width: 768px) {
    #primary-navbar.navbar {
        border-radius: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #primary-navbar .navbar-collapse {
        padding-left: 4px;
        padding-right: 4px;
    }

    #primary-navbar .nav > li > a {
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
    }

    #primary-navbar.navbar-default .navbar-nav > .active > a,
    #primary-navbar.navbar-default .navbar-nav > .active > a:hover,
    #primary-navbar.navbar-default .navbar-nav > .active > a:focus {
        background: none;
    }

    #primary-navbar.navbar-default .navbar-nav > .active > a span,
    #primary-navbar.navbar-default .navbar-nav > .active > a:hover span,
    #primary-navbar.navbar-default .navbar-nav > .active > a:focus span {
        border-bottom: 2px solid #333333;
    }
}